p {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Arial;
}

.body {
    background-color: rgb(30, 192, 197);
    display: flex;
    
    margin-top: 120px;
    justify-content: center;
    
}

.header {
   background-color: rgb(193, 91, 13);
   position: absolute;
   top: 0;
   
   right: 0;
   left: 0; 
   
   height: 50px;
   display: flex;
   
   justify-content: center;
   align-items: center;
}

.header-text {
   font-weight: bold;
   font-family:sans-serif; 
   
   font-style: italic;
   font-size: 18px;

}

.icon {
    position: absolute;
    height: 50px;
    top: 0;
    
}


.flex-box {
    background-color: rgb(223, 222, 222);
    height: 400px;
    
    width: 500px; 
    position: relative;
    
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgb(204, 202, 202,0.5);
    transition: box-shadow,0.5s;
    
}

.flex-box:hover{
    background-color: rgb(9, 96, 99);
    
}

.input {
    position: absolute;
    left: 170px;

    top: 70px;
    border-color: rgb(172, 172, 172);
   
    border-radius: 15px;
    border-width: 1px;
   
    border-style: solid;
    height: 30px;

}

.input::placeholder {
    position: absolute;
    left: 40px;
}

.gif {
    position: absolute;
    height: 100px;
    width: 160px;

    top: -50px;
    left: 170px;

    border-radius: 20px;
}

.text-box {
    position: absolute;
    left: 150px;

    background-color: rgb(172, 169, 169);
    top: 130px;

    width: 200px;
    padding-left: 15px;

    padding-top: 10px;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr 1fr;

}



















